.container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    max-width: 1360px;
    margin: 0 auto;
}
.row1{
  display: flex;
  align-items: center;
  justify-content: center;
  
  background-color: #67108F;
  width: 1360px;
  height: 400px; 
  
}

.colum1{
  flex-basis: 50%;
  flex-direction: column;
  padding-left: 10rem;
  flex-wrap: wrap;
}

.colum1 > h2{
    color: #F4A51D;
    font-size: 45px;
}
.colum1 > h1{
    color: white;
    font-size: 60px;
}
.colum1>p{
    color: white;
    font-size: 20px;
}

.colum1 > button{
    border-radius: 15cm;
    background-color: red;
    color: white;
    width: 45%;
    height: 50px;
    border-color: red;
    font-size: 35px;
}

.colum2{
    flex-basis: 50%;
    flex-direction: column; 
}
.colum2>img{
    position: relative;
    height: 400px;
    width: 400px;
    padding-left: 8rem;
    flex-wrap: wrap;
}

@media screen and (max-width: 800px){
    .row1{
        height: 800px
    }
    .colum1{
        
        padding-left: 4rem;
        flex-basis: 100%;
    }
    .colum1>h1{
        font-size:30px; 
    }
    .colum>h2{
        font-size:20px;
    }
    .colum1>button{
        font-size: 20px;

    }
    .colum2{
       justify-content: center;
        flex-basis: 100%;
        justify-items: end;
    }

    .colum2>img{
        padding-left: 0%;
    }

    .row1{
        height: 1000px;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    
}

@media screen and (max-width:600px) {
    .row1{
        text-align: start;
        height: 800px;


    }
    .colum1 , .colum2 {
        flex-wrap: 100%;
        padding-left: 2rem;
        
    }
    .colum1 {
        flex-basis: 100%;
        padding: 0 2rem;
    }
    .colum2>img {
        height: 300px;
        width: 300px;
    }
    
}


